nand2tetris/tools/bin/*.dat
**/__pycache__/
nand2tetris/projects/0[78]/**/*.asm
nand2tetris/projects/**/*.out
nand2tetris/projects/10/**/*.Txml
nand2tetris/projects/10/**/*.xml
**/.idea/
nand2tetris/projects/10/lecture 10 compiler I.pdf
nand2tetris/projects/11/**/*.xml
